.buttons.left{
    display:inline-block;
}
.buttons.left .btn-group{
    transform: rotate(90deg);
}

.buttons.right{
    display:inline-block;
}
.buttons.right .btn-group{
    transform: rotate(90deg);
}