.clear:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear{
    display:block;
    height:15px;
    vertical-align:top;
    line-height:0px;
}
.cell{
  display:inline-block;
  position:relative;
  background-color: white;
  border:1px solid gray;
  border-radius:0;
  height:15px;
  width:15px;
  padding:0px;
}
.cell:hover{
    border:1px solid gray;
}
.cell.wall{
    background-color: #333;
}

.cell i{
    position:absolute;
    font-size:15px;
    top:0;
}
.cell.entrypoint i{
    left:1px;
    font-size:14px;
}
.cell.wayout i{
    left:0px;
    font-size:13px;
}
label.hidden{
    display:none;
}
label.visible{
    margin-left:0.5em;
}

.cell.empty.blue{
    background-color:#C0E0FF;
}
.cell.empty.dark-blue{
    background-color:#0A58CA;
}
.cell.empty.yellow,
.cell.entrypoint,
.cell.entrypoint.yellow,
.cell.wayout,
.cell.wayout.yellow{
    background-color:#FFFF80;
}